$def with (content)

$code:	
	LogosDirectory = "static/logos/"
	CarZumerLogo = LogosDirectory + "CarZumer_Logo.JPG"
	
<html>
    <head>
        <title>CarZumer Consumer Portal Prototype</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/Prototype.css">

	    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
        <link rel="icon" href="/static/favicon.png" type="image/x-icon">

    </head>
	
	<body >
		
		<div class="container" >
			<div class="row">
				<div class="col-md-4" >
					<div class="pull-left">
						<img src="${CarZumerLogo}" style="border:1px gray solid" data-toggle="modal" data-target="#LogoModal" >
					</div>
				</div>
				<div class="col-md-8" >
					<div class="row">
						<div class="pull-left">
							<ul class="nav nav-tabs">
							  <li class="active"><a href="#">Browse</a></li>
							  <li><a href="#">Finance</a></li>
							  <li><a href="#">Trade-In</a></li>
							</ul>
						</div>
						<div class="pull-right">
							<ul class="nav nav-tabs">
							  <li id="LoggedInStatus">You are not logged in</li>
							  <li id="LogInOrOut"><a data-toggle="modal" href="#LoginModal">Log In</a></li>
							  <li><a href="#">Terms of Service</a></li>
							  <li><a href="#">Help</a></li>
							</ul>
						</div>
					</div>
					<div class="row" id="MessageToUser">
					</div>
				</div>
			</div>
		</div>
		<!-- Logo Modal -->
		<div class="modal fade" id="LogoModal" tabindex="-1" role="dialog" aria-labelledby="LogoModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h2 class="modal-title" id="LogoModalLabel">CarZumer</h2>
					</div>
					<div class="modal-body">
						<h4> Information about CarZumer </h4>
					</div><!-- /.modal-body -->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- / Logo Modal -->
		
	$:content

		<div class="learn-more">
		  <div class="container">
			<div class="row">
			  <div class="col-md-4">
				<h3>Buy</h3>
				<p>Best Deals from 2500 Dealers.</p>
				<p><a href="#">See how to buy</a></p>
			  </div>
			  <div class="col-md-4">
				<h3>Finance</h3>
				<p>Fund decision on the spot.</p>
				<p><a href="#">Learn more about credit</a></p>
			  </div>
			  <div class="col-md-4">
				<h3>Trade-In</h3>
				<p>Online valuation, curbside inspection.</p>
				<p><a href="#">Learn about Trade-In</a></p>
			  </div>
			</div>
		  </div>
		</div>

		
		
		
	</body>
</html>